<object data="<%= asset_path 'page1.png' %>" alt="Seats" type="image/png" usemap="#Map1">
 <map name="Map1">
   <a href="booking_form.htm" shape="rect" coords="287,62,311,86">Seat1</a>
   <a href="booking_form.htm" shape="rect" coords="334,62,358,87">Seat2</a>
   <a href="booking_form.htm" shape="rect" coords="289,92,311,115">Seat3</a>
   <a href="booking_form.htm" shape="rect" coords="336,91,359,116">Seat4</a>
 </map>
</object>
